{"changed":true,"filter":false,"title":".gitignore","tooltip":"/.gitignore","value":".c9\nnode_modules\nnpm-debug.log\n.DS_Store","undoManager":{"mark":-1,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":3,"column":9},"action":"insert","lines":[".c9","node_modules","npm-debug.log",".DS_Store"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":9},"end":{"row":3,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1427312845999}