<h1>Analizador Léxico JavaScript</h1>
<div align="center">
    <h2>Entrada</h2>
    <br>
    <div id="upload">
        <input type="file" id="select" accept=".js"/>
    </div>
    <br>
    <textarea id="INPUT"placeholder="Escriba aquí. También puede arrastrar un fichero"></textarea>
    <br>
    <input id="PARSE" value=Analizar type=button>
    <br><br>
    <div id="cajita">
        <pre id=OUTPUT></pre>
    </div>
</div>
<div id="enlaces">
    <a href="https://github.com/alu0100696455/PL_P3_Analizador">GitHub</a>
    <br>
    <a href="enlace a travis">Travis</a>
</div>
<div id="autores">
    <a href="https://alu0100696455.github.io">Jonathan Expósito Martín</a>
    <br>
    <a href="https://alu0100699968.github.io">Sergio J. Rodríguez Martín</a>
</div>
