<h1>Analizador Léxico JavaScript</h1>
 <h2>Input</h2>
 <p>
 Fill the input box with javascript code:
 </p>
 <textarea id="INPUT">
    var a = "hello"; // initialize a
    var b = function(x) {
            var c = 3;
              return x+c;
            };
 </textarea>
 <br>
 <input id="PARSE" value=parse type=button class="mylink">
 <pre id=OUTPUT></pre>
