<h1>Analizador Léxico JavaScript</h1>
<div align="center">
    <h2>Input</h2>
    <p>
        Fill the input box with javascript code:
    </p>
    <textarea id="INPUT"cols="70" rows="10">
        var a = "hello"; // initialize a
        var b = function(x) {
                var c = 3;
                  return x+c;
                };
    </textarea>
    <br>
    <input id="PARSE" value=parse type=button class="mylink">
    <br><br>
    <div align="center" style="width:512px;overflow:auto">
        <pre id=OUTPUT></pre>
    </div>
</div>
<div align="left">
    <a style="color:#FFFFFF" href="https://github.com/alu0100696455/PL_P3_Analizador">GitHub</a>
    <br>
    <a style="color:#FFFFFF" href="enlace a travis">Travis</a>
</div>
<br><br><br>
<div align="right">
    <a style="color:#FFFFFF" href="https://alu0100696455.github.io">Jonathan Expósito Martín</a>
    <br>
    <a style="color:#FFFFFF" href="https://alu0100699968.github.io">Sergio J. Rodríguez Martín</a>
</div>
